body
{
  font-family: sans-serif, verdana;
  background-color: #ddf;
}

header
{
  text-shadow: 2px 2px #777;
}

header, footer
{
  margin: 5px;
  padding: 8px;
  text-align: center;
}

footer
{
  position: absolute;
  width: 100%;
  bottom: 0;
}
