nav
{
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #000;
  display: block;
  margin: 4px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}

nav ul
{
  margin: 0px;
  padding: 0px;
}

nav ul li
{
  display: inline-block;
  list-style-type: none;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

nav > ul > li > a
{
  color: #222;
  display: block;
  line-height: 1.5em;
  padding: 0 16px;
  text-decoration: none;
}

nav > ul > li:hover
{
  background-color: #222;
}

nav > ul > li:hover > a
{
  color: #ddd;
}
